__pycache__/
*.py[cod]
assets/
# commodity
.vscode/
/models.py
backup**
db.*
.env*

.github/workflows/main.yml

# Ignore migration files except __init__.py

jewelry_retail_api/settings/production.py
jewelry_retail_api/
!jewelry_retail_api/django_error.log

core/migrations/*.py
!core/migrations/__init__.py

accounts/migrations/*.py
!accounts/migrations/__init__.py

billing/migrations/*.py
!billing/migrations/__init__.py

branchtransfer/migrations/*.py
!branchtransfer/migrations/__init__.py

common/migrations/*.py
!common/migrations/__init__.py

crmsettings/migrations/*.py
!crmsettings/migrations/__init__.py

customerorder/migrations/*.py
!customerorder/migrations/__init__.py

customers/migrations/*.py
!customers/migrations/__init__.py

dashboard/migrations/*.py
!dashboard/migrations/__init__.py

employees/migrations/*.py
!employees/migrations/__init__.py

estimations/migrations/*.py
!estimations/migrations/__init__.py

exportcsv/migrations/*.py
!exportcsv/migrations/__init__.py

inventory/migrations/*.py
!inventory/migrations/__init__.py

managescheme/migrations/*.py
!managescheme/migrations/__init__.py

mcx_buysell/migrations/*.py
!mcx_buysell/migrations/__init__.py

oldmetalprocess/migrations/*.py
!oldmetalprocess/migrations/__init__.py

otherinventory/migrations/*.py
!otherinventory/migrations/__init__.py

purchasedashboard/migrations/*.py
!purchasedashboard/migrations/__init__.py

repairorder/migrations/*.py
!repairorder/migrations/__init__.py

reports/migrations/*.py
!reports/migrations/__init__.py

retailcataloguemasters/migrations/*.py
!retailcataloguemasters/migrations/__init__.py

retaildashboard/migrations/*.py
!retaildashboard/migrations/__init__.py

retailmasters/migrations/*.py
!retailmasters/migrations/__init__.py

retailpurchase/migrations/*.py
!retailpurchase/migrations/__init__.py

retailsettings/migrations/*.py
!retailsettings/migrations/__init__.py

schememaster/migrations/*.py
!schememaster/migrations/__init__.py

schemepayment/migrations/*.py
!schemepayment/migrations/__init__.py

promotionmanagement/migrations/*.py
!promotionmanagement/migrations/__init__.py

admin_masters/migrations/*.py
!admin_masters/migrations/__init__.py

admin_projects/migrations/*.py
!admin_projects/migrations/__init__.py

loyalty_master/migrations/*.py
!loyalty_master/migrations/__init__.py

jewelry_retail_api/settings/*.py
!jewelry_retail_api/settings/development.py